.modal-main-container {
  background-color: rgba($color: #00132645, $alpha: 0.15);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-container {
    width: 40%;
    background: #fff;
    padding: 10px 0px;
    border: 1px solid #fff;
    border-radius: 5px;
    .modal-header-container {
      display: flex;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      .modal-header-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-size: 24px;
        margin: 0;
      }
      .modal-header-close-button {
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        padding: 0 10px;
        color: #555;
        cursor: pointer;
        &:hover {
          color: #000000;
        }
      }
    }
    .modal-body-container {
      padding: 10px;
    }
    .modal-footer-container {
      padding: 10px;
      border-top: 1px solid #ddd;
      .modal-footer-text {
        font-size: 18px;
        margin: 0;
      }
    }
  }
}
