@import './colors.scss';

.background_primary {
  background-color: $primary;
}
.background_secondary {
  background-color: $secondary;
}
.background_white {
  background-color: $white;
}
.background_gray_6 {
  background-color: $gray_6;
}
.background_gray_8 {
  background-color: $gray_8;
}
