$primary: #1b27af;
$primary_1: #2b39b9;
$primary_2: #77838f;
$primary_3: #5760ac;
$secondary: #00ffeb;
$accent: #ddd;

// Typograhpy colors
$white: #fff;
$black: #000;
$black_1: #1e2022;
$black_2: #001440;
$black_3: #1e2022;
$red: #ff0000;
$gray: #8692a6;
$gray_1: #6a6a6a;
$gray_2: #696f79;
$gray_3: #bababa;
$gray_4: #f5f5f5;
$gray_5: #777777;
$gray_6: #e8e8e834;
$gray_7: #77838f;
$gray_8: #3946bd0f;
