@import "./colors.scss";

.typography_title_h1 {
  font-size: 40px;
  font-weight: bold;
}
.typography_title_h2 {
  font-size: 40px;
  font-weight: bold;
}
.typography_title_h3 {
  font-size: 40px;
  font-weight: bold;
}

.typography_content_large {
  font-size: 20px;
}
.typography_content_medium {
  font-size: 18px;
}
.typography_content_small {
  font-size: 16px;
}
.typography_content_xs {
  font-size: 15px;
}

.white_text {
  color: $white;
}
.black_text {
  color: $black;
}
